{% extends "../layouts/default.twig" %}

{% block content %}
	<div class="container">
		<div class="jumbotron">
			<img src="/images/paintbot.png" width="160">
			<h1>Welkom bij de paintbot</h1>
			<p>Ik kan titels en andere vormgeving voor je maken.</p>
			<p>
				Zo hoef je niet zelf te klooien in Marquee, de Title Tool of After Effects.
			</p>
			<hr>
			{% if (user is defined) and (user.canAccessKeystone) %}
				<p>
					<a href="/keystone" class="btn btn-lg btn-primary">Open de Admin</a>
				</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
